/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.container, .result-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(135deg, #ffffff 0%, #f9f9f9 100%);
    border-radius: 15px;
    
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover, .result-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #34495e;
    margin-bottom: 20px;
    border-bottom: 2px solid #ea160b;
    display: inline-block;
    padding-bottom: 5px;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 500;
    color: #34495e;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ecf0f1;
    border-radius: 10px;
    background-color: #ecf0f1;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: redj;
    background-color: #e8f8f5;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2980b9;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: black;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-container p {
    font-size: 20px;
    color: #34495e;
    text-align: center;
    font-weight: 500;
}
